/*------------------------------- Index Page -------------------------------*/

/* Splash Screen */
#intro {
    background-color: white;
    padding: 1em 0 1em 0;
    text-align: center;
    font-size: 32px;
    background-image: url(../files/bridge-crop.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

#hello {
    color: white;
    position: relative;
    top: 45%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 25% 0 25%;
}

#hello p {
    backxground-color: yellow;
    background: rgba(0,0,0,0.5);
}

/* About Me */
#about-me {
    background-color: white;
    padding: 2em 0 2em 0; 
    -webkit-box-shadow: -2px 0px 19px 3px #000000; 
    box-shadow: -2px 0px 19px 3px #000000;
    z-index: 1;
    position: relative; 
}


/* About Me Text & Image Scaling */    
@media (max-width: 480px) {
    #introPara {
        font-size: auto;
        font-size: 3.5vw;
    } 
    #photoOfMe {
        width: auto;
        height: 25vh;   
        border: solid;
        border-color: #18191A;
        border-width: 8px;
    }
}
@media only screen and (min-width: 481px) {
    #introPara {
        font-size: 20px;
    } 
    #photoOfMe {
        width: auto;
        height: 50vh; 
        border: solid;
        border-color: #18191A;
        border-width: 8px;  
    }
}

#introPara {
    font-family: 'Helvetica','Roboto';
}

/* Flex Container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    
}
.flex-container > div {
    margin: 0 auto 0 auto;
    max-width: 50%;
    text-align: left;
    
}

div.photoContainer {
    text-align: center;
  }

