/*------------------------------- Contact Page -------------------------------*/

/* Banner */
#contactBanner {
    background-image: url(../files/sky_banner.jpg);
    height: 50%;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: black;
    color: white;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}
#contactBanner div {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.tabLink {
    background-color: #18191A;
}
body {
    background-color: #e4e6eb;
}
footer {
   background-color: #18191A;
   color: white;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    border: solid;
    border-color: #18191A;
    border-width: 8px;
    width: 40%;
  }

.flex-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    margin: 0 auto 0 auto;
    text-align: left;
    
}

