/*------------------------------- Contact Page -------------------------------*/

/* Section */
#contact {
    background-color: white;
    padding: 2em 0 2em 0;
    
}

/* Background image */
.contact-background {
    background-image: url(../files/minneapolis.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.contact-container {
    display: flex;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    flex-wrap: wrap;
    margin: 0 5% 0 5%;
    position: relative;
    top: 50%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-info {
    padding: 1em 1em 0 1em;
}

/* Set the size of the div element that contains the map */
#map {
    height: 50vh;
    border: solid;
    border-color: white; 
    border-width: 8px;
    width: 100vh;
    overflow: hidden;
  }






