/*------------------------------- Contact Page -------------------------------*/

.contact-background {
    background-image: url(../files/minnesota-blur.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.contact-info {
    padding: 1em 1em 0 1em;
}

/* Set the size of the div element that contains the map */
#map {
    height: 50vh;
    border: solid;
    border-color: white; 
    border-width: 8px;
    width: 100vh;
    overflow: hidden;
  }

.flex-container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    margin: 0 5% 0 5%;
}

.flex-container > div {
    margin: 0 auto 0 auto;
    text-align: left;
    
}

