/*------------------------------- Projects Page -------------------------------*/

/* Banner Image */
#projectBanner {
    background-image: url(../files/coding.jpg);
    height: 50%;
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #113e61;
    color: white;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}
#projectBanner div {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}

#projects {
    text-align: center;
}
#projectsText {
    margin: 0 2em 0 2em;
}