/*------------------------------- Resume Page -------------------------------*/

.resume-background {
    background-image: url(../files/coding.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.resume {
    margin: 0 5% 0 5%;
    background-color: white;
}

.resume-border {
    box-sizing: border-box;
    border-right: 5px solid white;
    border-left: 5px solid white;
}
