/*
CSS file
By Kevin Phouisangiem
*/

html {
    background-color: #0B0C10;
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

/* Title */
.welcome {
    padding: 20px;
    letter-spacing: -3px;
    word-spacing: 5px;
    background-color: #1F2833;
    color: white;
    font-family:'Heebo';
    font-size: 60px;
    text-align: center;
}
/* Navigation Tab */
.tablink {
    background-color: #c5c6c7;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
a.tablink:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a.tablink:hover {
    background-color: white;
    text-decoration: none;	
}
a:active {
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
}


/* Body */
body {
    background-color:  #45a29e;
}

/* Footer */
footer {
    background-color: #1F2833;
    color: white;
    text-align: center;
    padding: 10px 0 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

.intro {
    text-align: center;
    font-style: italic;
}

.resume {
    margin: 2em;
}

.projects {
    text-align: center;
}

.contact {
    text-align: center;
}