/* Global CSS file | By Kevin Phouisangiem */
/* Universal */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/*------------------------------- HTML -------------------------------*/
html {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
/* Wrap Links */
a {
    word-wrap: break-word;
}
h3 {
    display: inline;
}
hr {
    margin: 0 !important;
}

/*------------------------------- Home Section -------------------------------*/
.homeBackground {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../files/home.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px -27px 102px -9px rgba(0,0,0,0.69) inset;
    -webkit-box-shadow: 1px -27px 102px -9px rgba(0,0,0,0.69) inset;
    -moz-box-shadow: 1px -27px 102px -9px rgba(0,0,0,0.69) inset;
}

/*------------------------------- Resume Section -------------------------------*/

/* Background image */
.projectsBackground {
    background-image: url(../files/madison.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px -27px 102px -9px rgba(0,0,0,0.69) inset;
    -webkit-box-shadow: 1px -27px 102px -9px rgba(0,0,0,0.69) inset;
    -moz-box-shadow: 1px -27px 102px -9px rgba(0,0,0,0.69) inset;
}


/*------------------------------- Contact Section -------------------------------*/
.contactBackground {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../files/minneapolis.jpg);
    hxeight: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

/* Background image */
.contactStyle {
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
}

/* Set the size of the div element that contains the map */
#map {
    height: 50vh;
    
}

/*------------------------------- Mobile Styling -------------------------------*/
@media only screen and (max-width: 768px) {
    .parallexBackground {
        height: 50vh !important;
    }
    #hello {
        position: absolute !important; 
        top: 30vh !important;
    }
    .img-fluid {
        display: block !important;
        max-width: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important; 
    }
  }


/*------------------------------- Scroll to Top Button -------------------------------*/
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #18191A;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #topButton:hover {
    background-color: lightgrey;
    color: #18191A;
  }
