/*
CSS file
By Kevin Phouisangiem
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
/*---------------------- Html ----------------------*/
html {
    background-color: #FEFFFF;
    margin-left: 10rem;
    margin-right: 10rem;
    font-family:  'Manrope', 'Roboto', 'Helvetica', sans-serif;
}

/* Makes website fill the whole page */
#page-container {
    position: relative;
    min-height: 100vh;
}
/* Footer height */
#content-wrap {
    padding-bottom: 2.5rem;
}


/*---------------------- Title ----------------------*/
.welcome {
    padding: 20px;
    letter-spacing: -3px;
    word-spacing: 5px;
    background-color: #3AAFA9;
    color: white;
    font-family:'Heebo';
    font-size: 65px;
    text-align: center;
}
/* Banner Image */
.aboutBanner {
    background-image: url(../files/chicago.png);
    height: 50%;
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/*---------------------- Navigation Tab ----------------------*/
.tablink {
    background-color: #2B7A78;
    font-size: 25px;
    text-align: center;
}
.navButton {
    color: white;
    text-decoration: none;
    padding: 0 2em 0 2em;
}
a.navButton:hover {
    background-color: white;
    color: black;
}


/*---------------------- Body ----------------------*/
body {
    background-color:  #DEF2F1;
    color: black;
}


/*---------------------- Footer ----------------------*/
footer {
    background-color: #3AAFA9;
    color: black;
    text-align: center;
    padding: 10px 0 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

/*                            */
.pageTitle {
    text-align: center;
    text-decoration: underline;
}

h3 {
    display: inline;
}


/*---------------------- Index Page ----------------------*/
#intro {
    margin-top: 1em;
    text-align: center;
    font-size: 32px;
}
#introPara {
    margin: 1em 2em 0 2em;
    font-size: 25px;
    font-family: 'Helvetica','Roboto';
}


/*---------------------- Resume Page ----------------------*/
#resume {
    margin: 1em 2em 2em 2em;
}


/*---------------------- Projects Page ----------------------*/
#projects {
    text-align: center;
}
#projectsText {
    margin: 0 2em 0 2em;
}

/*---------------------- About Me Page ----------------------*/
#xxxabout {
   text-align: center;
}
/* About Me Slideshow */
.slides {
    display: none
}
img {
    vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background 
color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Image Text */
.imgText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next {
        font-size: 11px
    }
}

/*---------------------- Contact Page ----------------------*/
#contact {
    text-align: center;
}

